<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chocfun.aclient.testapp">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name="com.chocfun.baselib.app.BaseApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <meta-data
            android:name="com.chocfun.aclient.testapp.app.GlobalConfiguration"
            android:value="ConfigModule"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".image.ImageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".LogActivity">
        </activity>

        <activity android:name=".mvp.MVPLogActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".mvp.LogFragmentActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".dagger2.Dagger2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".rxlifecycle.RxLifecycleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".aspectj.AspectJActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>